/*base reset of styles*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(244, 239, 239);
}

ul, ol {
    /*list-style: none;*/
    padding: 0;
    margin: 0;
}

/*Headers style*/
h1, h2 {
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    font-size: 24px;
    margin-top: 30px;
    color:#333;
}

h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.text-header {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


/*Describe classes for main body*/
.main-layout {
    display: flex;
    width: 100%;
}
        
.left-sidebar {
    flex: 0 0 280px;
    padding: 15px;
}

.right-content {
    flex: 1;
    padding: 20px;
}

.left-sidebar ol {
    list-style: none;
    padding: 0;
}

.left-sidebar ol li {
    display: block;
    background-color: #f0f0f04c;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.top-menu li:hover,
.left-sidebar ol li:hover > ol {
    background-color: #dcdcdc;
    opacity: 0.7;
}

.top-menu li.active:hover,
.left-sidebar ol li.active:hover {
    background-color: #dcdcdc;
    opacity: 1;
}

/*styles of subpoints*/
.left-sidebar ol ol {
    list-style: decimal;
    margin-top: 5px;
    margin-left: 20px;
}

.left-sidebar ol ol li {
    background-color: transparent;
    padding: 3px 0;
    border-radius: 0;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 14px;
}

.left-sidebar li.active {
    background-color: #929394;
    color: white;
    font-weight: bold;
}

/*describe classes for main content*/
.right-content {
    max-width: 850px;
    line-height: 1.5;
    font-size: 16px;
    padding: 20px 40px;
    background-color: #ffffff;
}

.right-content p, 
.right-content ul, 
.right-content ol {
    margin-bottom: 1.5em; /* add space between content part */
}

/*describe classes for top-menu*/
.top-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    gap: 10px;
    justify-content: center;
}

.top-menu li {
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.top-menu li.active {
    background-color: #929394;
    color: white;
    font-weight: bold;
}